$color-boton: #00F3BB;
$degradado-boton: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$azul: #0000EC;
$family-title: 'Plex Sans';
$family-paragraph: 'Plex Mono';
$title-size-mobile: 36px;
$paragraph-size-mobile: 14px;
$title-size-web: 64px;
$subTitle-size-web: 48px;
$theme-size-web: 24px;
$paragraph-size-web: 16px;