:root {
    --color-primario: #0000EC;
    --color-secundario: #00F3BB;
    --family-title: 'IBM Plex Sans';
    --family-paragraph: 'IBM Plex Mono';
    --title-size-mobile: 36px;
    --paragraph-size-mobile: 14px;
    --title-size-web: 64px;
    --subTitle-size-web: 48px;
    --theme-size: 24px;
    --paragraph-size-web: 16px;
    --color-text: #060A24;
    --boton-size-mobile: 16px;
    --boton-size-web: 18px;
}


/*  */


/* Utilidades y generales*/


/*  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text);
}

.contenedor {
    max-width: 1024px;
    margin: 0 auto;
    width: calc(100% - 32px);
}


/* Mediaquery de mas */


/* @media (min-width: 1024px) {
    .contenedor {
        width: calc(100% - 400px);
    }
} */

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: line-through;
    color: rgba(6, 10, 36, 0.56);
}


/*  */


/* Tipografias */


/*  */

h1,
h2 {
    font-family: var(--family-title);
    font-size: var(--title-size-mobile);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 42px;
}

p {
    font-family: var(--family-paragraph);
    font-size: var(--paragraph-size-mobile);
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
}

@media (min-width: 1024px) {
    h1.titulo-intro {
        font-size: var(--title-size-web);
    }
    h2 {
        font-size: 48px;
    }
    p {
        font-size: var(--paragraph-size-web);
        line-height: 24px;
    }
}


/* */


/* Botones*/


/* */

.contenedor-boton {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.contenedor-boton button {
    font-family: 'IBM Plex Mono';
    font-weight: 500;
    font-size: var(--boton-size-mobile);
    background-color: var(--color-secundario);
    border: none;
    text-transform: uppercase;
    height: 48px;
    width: 100%;
}

button:hover {
    color: #FFFFFF;
    background: linear-gradient(120deg, rgba(0, 243, 187, 1) 21%, rgba(0, 0, 254, 1) 83%);
}

@media (min-width: 1024px) {
    .contenedor-boton {
        text-align: left;
    }
    .contenedor-boton button {
        width: 226px;
    }
    .contenedor-boton button {
        font-size: var(--boton-size-web);
    }
}


/*  */


/* Header */


/*  */

header {
    height: 44px;
    position: relative;
}

.contenedor-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    /* max-width: 1440px; */
}

.logo-bd {
    margin: 10px 0 0 10px;
    width: 24px;
    height: 24px;
}

nav input {
    display: none;
}

label i {
    margin-right: 19px;
}

nav label i {
    display: inline-block;
    height: 14px;
    width: 14px;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

nav label i.close {
    display: none;
}

nav ul {
    display: none;
    background-color: var(--color-primario);
    list-style: none;
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
}

nav a {
    padding: 12px 16px;
    font-size: 16px;
    font-family: var(--family-paragraph);
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

header nav input:checked~label .close {
    display: block;
}

header nav input:checked~label .open {
    display: none;
}

header nav input:checked~ul {
    display: block;
}

@media (min-width: 1024px) {
    .contenedor-navegacion {
        justify-content: space-between;
        margin: 0 100px 0 100px;
    }
    .logo-bd {
        margin: 22px 0 0 0;
        width: 36px;
        height: 36px;
    }
    label {
        display: none;
    }
    nav ul {
        display: flex;
        position: relative;
        margin-top: 26px;
        background-color: transparent;
        top: auto;
    }
    nav li {
        display: block;
    }
    nav a {
        padding: 0px 0px;
        margin: 0px 48px 0 0;
        font-family: var(--family-paragraph);
        color: var(--color-text);
        letter-spacing: 0;
        line-height: 0px;
        display: block;
    }
    nav a:hover {
        color: var(--color-secundario);
        text-decoration: line-through;
    }
}


/*  */


/* Seccion Intro */


/*  */

h1 {
    margin: 29px 0px 16px 0px;
}

.parrafo-intro {
    margin-bottom: 36px;
}

.world {
    font-size: var(--title-size-mobile);
    text-decoration: line-through;
}

@media (min-width: 1024px) {
    h1.titulo-intro {
        width: 766px;
    }
    .parrafo-intro {
        width: 50%;
    }
    .seccion-intro {
        margin-top: 120px;
    }
    .world {
        font-size: var(--title-size-web);
    }
    .punto {
        color: var(--color-primario);
    }
}


/*  */


/*  */


/* Podcast */

.seccion-podcast {
    position: relative;
    top: -100px;
    padding: 200px 0;
    background-image: linear-gradient(#0000FF, #0000A3);
    clip-path: polygon(0px 165px, 100% 127px, 100% 93.09%, 0px 96.16%);
}

.seccion-podcast h2 {
    color: #FFFFFF;
    margin-bottom: 21px;
}

.podcasts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.podcasts iframe {
    max-width: 100%;
    width: 488px;
    height: 232px;
    margin: 5.5px 11px 5.5px 11px;
    border: none;
}

@media (min-width: 1024px) {
    .seccion-podcast {
        clip-path: polygon(0px 275px, 100% 127px, 100% 83.67%, 0px 96.16%);
    }
    .seccion-podcast h2 {
        margin: 111px 0 26px 0;
    }
    .podcasts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 64px;
    }
    .podcasts iframe {
        width: 429px;
        /* width: 584px; */
        height: 232px;
        margin-bottom: 72px;
    }
    .podcasts iframe:nth-last-child(-n + 2) {
        margin-bottom: 0px;
    }
    .podcasts iframe:nth-child(odd) {
        margin-right: 72px;
    }
    @media (min-width: 1440px) {
        .podcasts iframe {
            width: 584px;
            height: 232px;
            margin-bottom: 72px;
        }
    }
}


/*  */


/* Donde venimos */


/*  */

.seccion-venimos {
    position: relative;
    top: -250px;
    margin-bottom: -280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.phone-img {
    max-width: 360px;
    height: 519px;
    width: 100%;
}

.seccion-venimos-textos {
    margin: 27px 0 54px 0;
}

.seccion-venimos-textos h2 {
    margin-bottom: 8px;
}

.seccion-venimos-textos p:first-of-type {
    margin-bottom: 16px;
}

@media (min-width: 1190px) {
    .seccion-venimos {
        flex-wrap: nowrap;
        top: -300px;
    }
    .phone-img {
        width: 457px;
        height: 660px;
        margin-right: 67px;
    }
    .seccion-venimos-textos {
        width: 40%;
    }
}


/*  */


/* Invitadas */


/*  */

.imagenes-invitadas {
    display: flex;
    flex-wrap: wrap;
}

.seccion-invitadas h2 {
    margin-bottom: 36px;
}

.imagenes-invitadas {
    line-height: 0;
}

.imagenes-invitadas img {
    max-width: 100%;
    margin-bottom: 0px;
}

@media (min-width: 620px) {
    .imagenes-invitadas img {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .seccion-invitadas h2 {
        margin-bottom: 36px;
    }
    .imagenes-invitadas img {
        width: 33.3%;
    }
}


/*  */


/* Temas */


/*  */

.seccion-temas h2 {
    margin: 48px 0 37px 0;
}

.icono-tema {
    display: block;
    text-align: center;
    margin-bottom: 65px;
}

.icono-tema:first-of-type {
    margin-bottom: 49px;
}

.icono-tema:last-of-type {
    margin-bottom: 42px;
}

.contenedor-iconos p {
    font-family: 'IBM Plex Sans';
    font-size: var(--theme-size);
    font-weight: 600;
    margin-top: 13px;
}

@media (min-width: 1024px) {
    .seccion-temas h2 {
        margin: 64px 0 56px 0;
    }
    .contenedor-iconos {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icono-tema {
        margin: 45px 100px 0 0;
    }
    .icono-tema:first-of-type {
        margin-bottom: 0px;
    }
    .icono-tema:last-of-type {
        margin-bottom: 0px;
        margin-right: 0px;
    }
}


/*  */


/* Novedades */


/*  */

.seccion-novedades {
    height: 341px;
    max-height: 1440px;
    background-image: linear-gradient(#0000FF, #0000A3);
    clip-path: polygon(0px 41px, 100% 0px, 100% 100.33%, 0px 101.66%);
}

.seccion-novedades h2 {
    padding-top: 50px;
    color: #FFFFFF;
    width: 60%;
    margin: 64px auto 36px auto;
    text-align: center;
}

.seccion-novedades .contenedor-boton {
    width: 90%;
}

@media (min-width: 1024px) {
    .seccion-novedades {
        height: 518px;
        clip-path: polygon(0px 120px, 100% 0px, 100% 100.33%, 0px 101.66%);
    }
    .seccion-novedades h2 {
        padding-top: 200px;
        margin-bottom: 36px;
        width: auto;
    }
    .seccion-novedades .contenedor-boton {
        text-align: center;
    }
    .contenedor-boton .boton-novedades {
        width: 345px;
    }
}


/* */


/* Footer */


/*  */

.copyright {
    text-align: center;
    margin: 24px 0 16px 0;
}

.redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociales a {
    margin-right: 28px;
}

.redes-sociales a:last-of-type {
    margin-right: 0px;
}

footer i {
    margin: 0 36px 0 0;
}

footer i:last-of-type {
    margin-right: 0;
}

@media (min-width: 1024px) {
    footer {
        display: flex;
        justify-content: space-between;
        margin: 36px 100px 31px 100px;
    }
    .redes-sociales {
        margin: 0;
    }
}